<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (keyword(); as keywordRef) {
      <div>
        <h2 data-cy="keywordDetailsHeading"><span jhiTranslate="cIjhipsterApp.keyword.detail.title">Keyword</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ keywordRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="cIjhipsterApp.keyword.value">Value</span></dt>
          <dd>
            <span>{{ keywordRef.value }}</span>
          </dd>
          <dt><span jhiTranslate="cIjhipsterApp.keyword.isActive">Is Active</span></dt>
          <dd>
            <span>{{ keywordRef.isActive }}</span>
          </dd>
          <dt><span jhiTranslate="cIjhipsterApp.keyword.createdAt">Created At</span></dt>
          <dd>
            <span>{{ keywordRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="cIjhipsterApp.keyword.competitor">Competitor</span></dt>
          <dd>
            @if (keyword()!.competitor) {
              <div>
                <a [routerLink]="['/competitor', keyword()!.competitor?.id, 'view']">{{ keywordRef.competitor?.competitorName }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/keyword', keywordRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
