<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.creation.title}">Welcome to CIjhipster</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>

  <body>
    <p th:text="#{email.activation.greeting(${user.login})}">Hello</p>

    <p th:text="#{email.creation.text1}">Your CIjhipster account has been created. Please set your password.</p>

    <p>
      <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}"> Set password </a>
    </p>

    <p>
      <span th:text="#{email.activation.text2}"> Regards, </span>
      <br />
      <em th:text="#{email.signature}"> CIjhipster team </em>
    </p>
  </body>
</html>
